<!-- Center content -->
  <ion-header-bar class="bar bar-header">      
    <h1 class="title">Wait for it...</h1>
  </ion-header-bar>

  <ion-tabs class="tabs-default tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home" href="/home">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" href="/map">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart" href="/favorites">
      <!-- Tab 3 content -->
    </ion-tab>

    <ion-tab title="Search" icon-on="ion-android-search" icon-off="ion-android-search" href="/search">
      <!-- Tab 4 content -->
    </ion-tab>

  </ion-tabs>

<ion-content>

  <div class="col" align="center">
    <h1>{{spot.name}}</h1>
    <p><img src='{{spot.rating_img_url}}'></img><img src='https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/14f29ad24935/assets/img/yelp_logo_40x20.png'></img></p>
    <p>{{spot.display_phone}}</p>
    <p>{{spot.location.display_address[0]}}, {{spot.location.display_address[2]}}</p>
    <p><a ng-href='{{spot.url}}'>Check it out on yelp</a><p>
  </div>

  <div class="row responsive-sm">
    <div class="card col col-32" align="center">
      <h4> 2 people </h4>
      <h1 ng-model="twoWait"> {{wait.twoWait}} </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show()">Update wait time</a>

    </div>
    <div class="card col col-33" align="center">
      <h4> 3-4 people </h4>
      <h1 ng-model="fourWait"> {{wait.fourWait}} </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show()">Update wait time</a>

    </div>
    <div class="card col col-32" align="center">
      <h4> 5+ people </h4>
      <h1 ng-model="fiveWait"> {{wait.fiveWait}} </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show()">Update wait time</a>
    </div>
  </div>

  <div class="col" align="center">
    <h3>Comments/photos</h3>
  </div>
</ion-content>

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Update current wait time </h1> <a href='javascript:void(0)'><span class="close-modal" ng-click="modal.hide()">x</span></a>
      </ion-header-bar>
      <ion-content>
        <form ng-submit='waitTime(business, wait)'>
          <p>Party size: </p>
          <ion-radio ng-model="wait.amt" value="twoWait">1-2 people</ion-radio>
          <ion-radio ng-model="wait.amt" value="fourWait">3-4 people</ion-radio>
          <ion-radio ng-model="wait.amt" value="fiveWait">5+ people</ion-radio>

          <label class="item item-input">
            <input type="tel" ng-model='wait.quote' placeholder="Quoted Wait Time">
          </label>

          <input type="submit" class='col col-33 col-offset-33 start' align='center' value="Submit" >
        </form>
      </ion-content>
    </ion-modal-view>
  </script>

