<!-- Center content -->
  <ion-header-bar class="bar bar-header">      
    <h1 class="title">Wait for it...</h1>
  </ion-header-bar>

  <ion-tabs class="tabs-default tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home" href="#/home">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" href="#/map">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart" href="#/favorites">
      <!-- Tab 3 content -->
    </ion-tab>

    <ion-tab title="Search" icon-on="ion-android-search" icon-off="ion-android-search" href="#/search">
      <!-- Tab 4 content -->
    </ion-tab>

  </ion-tabs>

<ion-content>

  <div class="col" align="center">
    <h1>{{spot.name}}</h1>
    <p><img src='{{spot.rating_img_url}}'></img><img src='https://s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/14f29ad24935/assets/img/yelp_logo_40x20.png'></img></p>
    <p>{{spot.display_phone}}</p>
    <p>{{spot.location.display_address[0]}}, {{spot.location.display_address[2]}}</p>
    <p><a ng-href='{{spot.url}}'>Check it out on yelp</a><p>
  </div>

  <div class="row responsive-sm">
    <div class="card col col-32" align="center">
      <h4> 2 people </h4>
      <h1> {{(business.twoWait / 60) | number: 0}} hours {{business.twoWait % 60}} minutes </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show(); checkLocation(); checkt()">Update wait time</a>

    </div>
    <div class="card col col-33" align="center">
      <h4> 3-4 people </h4>
      <h1> {{(business.fourWait / 60) | number: 0}} hours {{business.fourWait % 60}} minutes </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show(); checkLocation(); checkf()">Update wait time</a>

    </div>
    <div class="card col col-32" align="center">
      <h4> 5+ people </h4>
      <h1> {{(business.fiveWait / 60) | number: 0}} hours {{business.fiveWait % 60}} minutes </h1>
      <small><span am-time-ago="wait.time"></span></small>
      <a href='javascript:void(0)' ng-click="modal.show(); checkLocation(); checkfi()">Update wait time</a>
    </div>
  </div>

  <div class="col" align="center">
    <h3>Comments/photos</h3>
  </div>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <form name="comments" ng-submit="newComment(comment)">
            <input type="text" ng-model="comment.content" placeholder="Share what your wait is like!"/>
          </form>
        </label>
          <input type="submit" value="submit" class="button button-small">
      </div>
    </div>
    <hr>
    <div class='col col-75' align='center' ng-repeat="test in work"><p>{{test.comments}}</p></div>
    <br>
</ion-content>

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Update current wait time for... </h1> <a href='javascript:void(0)'><span class="close-modal" ng-click="modal.hide()"><i class="ion-close"></i></span></a>
      </ion-header-bar>
      <ion-content>

        <form ng-submit='waitTime(business)' id="waitRadio">
        <div class="list">
          <label class="item item-radio">
              <input type="radio" id="two" checked="false" ng-model="business.party" value="twoWait">
              <div class="item-content">
              1-2 people
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
              <input type="radio" id="four" ng-model="business.party" checked="false" value="fourWait">
              <div class="item-content">
              3-4 people
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
              <input type="radio" id="five" checked="false" ng-model="business.party" value="fiveWait">
              <div class="item-content">
              5 people
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>

        <div class="row">
          <label class="item item-input col col-50">
            <input type="tel" ng-model='business.hour' placeholder="Quoted Wait Time (hours)" max="3">
          </label>
          <label class="item item-input col col-50">
            <input type="tel" ng-model='business.minute' placeholder="Quoted Wait Time (minutes)" max="59">
          </label>
        </div>

          <input type="submit" class='col col-33 col-offset-33 start' align='center' value="Submit" >
        </form>
      </ion-content>
    </ion-modal-view>
  </script>

