<ion-content>
<div class="boneyard">
	<p class='col form-title' align='center'>Login</p>
	<form name ="LoginForm" ng-submit="emailLogin()">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">email</span>
		    <input type="email" ng-model="email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">password</span>
		    <input type="password" ng-model="password">
		  </label>
  		</div>
	  	<input type="submit" class=" col col-33 col-offset-33 button start" value="Login">

	  	<br>
          <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="#/signup">Sign up</a></small>
          </p>

		<div class="signup-or-separator">
			<h6 class="text">or</h6>
	    	<hr>
		</div>
	</form>	
	<div class='row'>
		<button class='col col-33 col-offset-33 button start' align='center' ng-click="facebookLogin()">Login with Facebook</button>
	</div>
</div>
</ion-content>