<ion-pane>

<div class='row row-top'>
	<h1 class='col search' align='center'>Wait for it...</h1>
</div>

<div class="boneyard">
	<p class='col form-title' align='center'>Login</p>
	<form name ="LoginForm" ng-submit="emailLogin(sec)">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">email</span>
		    <input type="email" ng-model="sec.email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">password</span>
		    <input type="password" ng-model="sec.password">
		  </label>
  		</div>
	  	<input type="submit" class=" col col-33 col-offset-33 button start" value="Login">
	</form>

	<div class='row row-bottom'>
		<a href='#/signup' class='button col col-33 col-offset-33 start' align='center'>Sign Up</a>
	</div>

</div>
</ion-pane>