<ion-content>
<div class="boneyard">
	<p class='col form-title' align='center'>Search by</p><br>
	<div class="list">
		<form ng-submit="search(s)">
		  <label class="item item-input">
		    <input type="text" ng-model="s.term" placeholder="Restaurant Name">
		  </label>
		  <br><p align='center'>or</p><br>
		  <label class="item item-input" >
		    <input type="text" ng-model="s.neighborhood" placeholder="Neighborhood">
		  </label>

		  <div class='row row-bottom'>
		  	<input type="submit" class='col col-33 col-offset-33 start' align='center' value="Submit" >
		  	<a href="/home">home</a>
		  </div>

		</form>
	</div>

</div>
</ion-content>