<ion-content>
<div class="boneyard">
	<p class='col form-title' align='center'>Search for a spot</p>
	<div class="list">
	  <label class="item item-input">
	    <span class="input-label">City</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Zipcode</span>
	    <input type="number">
	  </label>
	</div>


	<div class='row row-bottom'>
		<a href='/home' class='col col-33 col-offset-33 start' align='center'>Search</a>
	</div>
</div>
</ion-content>