<div class="boneyard">
	<p class='col form-title' align='center'>Sign Up</p>
	<form ng-submit="newUser(user)">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">email</span>
		    <input type="text" ng-model="user.email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">password</span>
		    <input type="password" ng-model="user.password">
		  </label>
  		</div>
	  	<input type="submit" class=" col col-33 col-offset-33 button start" value="Sign Up">

	</form>

	<br>
	<div class='row'>
		<a href='/home' class='col col-33 col-offset-33 button start' align='center'>Facebook</a>
	</div>
</div>