<ion-pane>

<div class='row row-top'>
	<h1 class='col search' align='center'>Wait for it...</h1>
</div>

<div class="boneyard">
	<p class='col form-title' align='center'>Sign Up</p>
	<form name="signupForm" ng-submit="signup(sec)">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">email</span>
		    <input type="email" ng-model="sec.email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">password</span>
		    <input type="password" ng-model="sec.password">
		  </label>
  		</div>
	  	<input type="submit" class=" col col-33 col-offset-33 button start" value="Sign Up">
	  	<br>
		<p class="text-center text-muted"><small>Already have an account? <a href="#/login">Log in now</a></small></p>
      </form>
	</form>

	<br>
</div>
</ion-pane>
