<!DOCTYPE html>
<html ng-app="wait">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!--Google Maps-->  
    <script src="http://maps.google.com/maps/api/js"></script>

    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

    <!-- angular moment -->
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="MainCtrl">

    <ion-side-menus>
        <!-- Center content -->
      <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
          <ion-nav-buttons side="left">
          <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Wait for it...</h1>
          </ion-nav-buttons>
        </ion-nav-bar>

      <ion-content>
        <map center="37.763830, -122.444813" zoom="13">
          <marker ng-repeat="marker in markers | filter:q as results" position="{{marker.lat}},{{marker.long}}" on-click="showInfoWindow(event, marker)"></marker>
          </map>
        </ion-content>
      </ion-side-menu-content>

      <!-- Left menu -->

      <ion-side-menu side="left">
          <ion-header-bar class="bar-dark">
            <h1 class="title">Restaurants</h1>
          </ion-header-bar>
          <ion-content overflow-scroll="true">
            <ion-list>
              <ion-item ng-repeat="marker in markers | orderBy:&apos;name&apos;|filter:q as results">
                <a href="javascript:void(0)" ng-click="show = !show ; showInfoWindow(event, marker)">{{marker.name}}</a>
              </ion-item>
            </ion-list>
          </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </body>
</html>
