/* Empty. Add your own CSS if you like */

map{
	height: 100vh;
	width: 100%;
}

a{
	color: black;
	text-decoration: none;
}

.bar{
	background: #74AFAD
}

.tabs{
	background: #74AFAD
}

#title{
	margin-top: 30vh;
	color: #558C89;
	font-family: 'Carter One'; cursive;
}

.title{
	color: #ECECEA;
	font-family: 'Carter One'; cursive;
}

h1.search{
	margin-top: 10vh;
	color: #558C89;
	font-family: 'Carter One';
}

#explanation{
	margin-bottom: 50px;
	margin-top: 20px;
	color: black;
	font-size: 20px;
}
.start{
	background: #DE752A;
	margin-top: 20px;
}

i{
	color: #FF6600;
	font-weight: bold;
}

body{
	background: #ECECEA;
}


.namecard i{
	float: right;
	font-size: 20px;
	font-weight: bold
}
.namecard{
	background: #ECECEA
}

.namecard p{
	color: black;
}

.boneyard{
	margin-top: 10vh;
	padding-top: 5vh;
	padding-bottom: 100%;
	background: #74AFAD;
}

.form-title{
	margin-bottom: 10px;
}

#searchBar{
	margin-bottom: 20px;
	text-align: center
}

.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.card a{
	font-size: 10px;
}

#comment{
	padding-bottom: 50px
}